<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
    <h6><%= pluralize(post.views, "view")%> </h6>
  </p>
  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>
</div>
